[Unit]
Description=Klein API server daemon
After=network.target

[Service]
Type=simple
ExecStart=PYTHONPATH=/opt/ twistd -n web --class=api.resource --https=443 -c server.crt -k server.key
Restart=on-failure
RemainAfterExit=yes

